@import './base.css';


#app {

  font-weight: normal;
  min-height: 100vh;

}

main {
  display: flex;
  flex-direction: column;
  padding: 100px 20px 150px 20px;
  width: 100%;
  gap: 3rem;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  animation: ldg 2s alternate-reverse infinite;

}
@keyframes ldg {
  0%{
    transform: scale(0.9);
    opacity: 0;
  }

  100%{
    transform: scale(1.08);
    opacity: 100%;
  }


}

a,
.green {
  text-decoration: none;
  color: var(--color-link);

  transition: 0.4s;
  padding: 3px;
  cursor: pointer;
}

.button {
  background-color: var(--color-background-button);
  color: var(--color-text-button-2) ;
  border: none;
  border-radius: 1rem;
  padding: 6px 20px;
  transition: 0.4s;
  cursor: pointer;
  width: 120px;
  place-self: center;

  &:hover{
    scale: 1.04;
  }
  &:active{
    background-color: var(--color-text-button);
    color:var(--color-background-button) ;
    scale: 0.8;
  }
}
.pi_button {
  text-decoration: none;
  border: none;
  background: none;
  transition: 0.4s;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 1rem;
  &:hover {
    background-color: var(--color-text-heading);
    color: var(--vt-c-light);
  }
}
.pro_button{
  border: none;
  padding: .5rem 2rem;
  background:  var(--color-background-button-2);
  color: var(--color-text-button-2);
  place-self: center;
  border-radius: 6px;
}
input, textarea {
  padding: 7px;
  border-radius: 7px;
  border: none;
  box-shadow: 2px 4px 10px 1px rgba(55, 64, 66, 0.47);

}

@media (hover: hover) {
  a:hover {
    background-color: hsl(180, 11%, 50%);
    color: var(--vt-c-light);
  }
}




